
  .text-display{
    position: relative;
    font-weight: bold;
  }
  .delete{
    position: absolute;
    top: .75rem;
    right: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    height: 9rem;
    font-size: 1.5rem;
  }
  .edit{
    position: absolute;
    top: .75rem;
    right: 4.5rem;
    cursor: pointer;
    background: none;
    border: none;
    height: 9rem;
    font-size: 1.5rem;
  }