.header {
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 1.5rem;
    background-color: indigo;
    color: var(--color-white);
  }
  .logorow {
    padding: 1.5rem;
    flex-direction: row;
  }
